/* note: graph color css is in ihtfp.css */

#graph {
  padding: 24px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

#graph .container {
  background-color: #262626;
  border: 1px solid rgba(0, 0, 0, 0.29);
  padding:32px;
  height: 100%;
  width:90%;
  margin: auto;
  margin-bottom: 32px;
}

#graph .inner-container {
  max-width: 800px;
  margin:auto;
  display: table;
}

#graph .chart, #graph .text{
  display: inline-block;
  padding: 12px;
  font-family: Raleway, sans-serif;
}

#graph .content {
  font-size: 1.3em;
  max-width:320px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-left: 24px;
}

#graph .text {
  padding: 0px;
}

#graph .chart {
  font-size:16px;
  color:white;
}

#emotion-pie {
  stroke: #262626;
  stroke-width: 4;
}

#feels-week-line {
  margin: 24px;
  height:400px
}