/*
    ihtfp : real-time feels
*/

body {
  background-color: #2d2d2d;
  color: white;
  font-family: 'Oswald';
}

h1 {
  font-family: 'Oswald';
}

.logo-title {
  font-family: 'Oswald';
}

#toolbar {
  position: fixed;
  top: 0;
  z-index: 999;
}