/**
 *  __ __  __ ______  ____ ____
 *  || ||  || | || | ||    || \\
 *  || ||==||   ||   ||==  ||_//
 *  || ||  ||   ||   ||    ||
 *  -- --  --   --   --    --
 *
 *  CSS!
 *
 *  Elements are generally organized in order of appearance,
 *  starting with the splash page and onto the grid.
 *
 */

body {
  background-color: #2a2a2a;
  color: white;
  font-family: 'Raleway', 'Helvetic Neue', 'Helvetica', sans-serif;
  font-size: 12pt;
  font-weight: 100;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

/* Textarea font replacements */
.ui.form textarea,
input {
  font-family: 'Raleway', 'Helvetic Neue', 'Helvetica', sans-serif !important;
  font-weight: 400;
}

.ui.form input[type=password] {
  /*padding-left: 2.5em !important;*/
}

/* For debuggin, rapid switch between splash and app */
.debug.button {
  z-index: 10;
  position: fixed;
  top: 12px;
  right: 12px;
}

/* scrollUp button is on all of the main app stuff. Scrolls to top. */
.scrollUp {
  z-index: 123;
  position: fixed;
  bottom: 12px;
  right: 12px;
  height: 60px;
  width: 60px;
  background: url('/assets/img/scrollUp.png');
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.visible.scrollUp {
  cursor: pointer;
  opacity: .6;
}

.visible.scrollUp:hover {
  opacity: .8;
}

/* Password Authentication */
.accounts-dialog {
  font-family: 'Raleway', 'Helvetic Neue', 'Helvetica', sans-serif;
  font-size: 14pt;
  text-align: center;
  padding: 30px;
}

.accounts-dialog .login-button {
  background-image: none;
  background-color: #58cb73;
  text-shadow: none;
  font-family: 'Raleway', 'Helvetic Neue', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  text-transform: uppercase;
  padding: 6pt;
  border: none;
  box-shadow: none;

  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.accounts-dialog .login-button:hover {
  background-color: #32c44e;
}

#enroll-account-password:focus {
  outline: none;
}

.account.settings.dropdown {
  text-transform: uppercase;
  text-align: center;
}

/* Nav bar options */
#nav {
  z-index: 5;
}

#nav .item,
#nav .menu {
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

#nav .nav-icon {
  width: 48px;
  height: 44px;
}

#nav .menu {
  top: 8px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

}

#nav .right.menu {
  position: fixed;
  right: 8px;
}

#nav .left.menu {
  position: fixed;
  left: 8px;
}

#nav .menu .dropdown .menu {
  background-color: white;
}

#nav .logo.item {
  font-size: 30pt;
  padding: 12px;

}

#logo,
.logo,
#header {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  text-align: center;
}

#logo {
  font-size: 100pt;
  font-weight: 700;
  position: relative;
  height: 110px;
  z-index: 3;
}

#logo .content {
  position: absolute;
  bottom: -40px;
  left: 8%;
}

#logo .greeting {
  display: inline-block;
  font-size: 3vw;
}

#filter {
  position: fixed;
  z-index: 10;
  bottom: 12px;
  background-color: rgba(0, 0, 0, 0.70);
  padding: 12px;
  font-size: 14pt;
}

#filter .views {
  margin-bottom:4px;
}


#filter .filters .item {
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 4px;
}

#filter .filters .all.item {
  height: 19px;
  width: 19px;
  border: 1px solid rgba(255, 255, 255, 0.80);
  background-color: rgba(255, 255, 255, 0);
}

#filter .filters .all.item:hover {
  background-color: rgba(255, 255, 255, 0.50);
}

/* About dimmers */

#about .title {
  margin: 0;
  font-size: 6em;
}

#about .content {
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
  font-weight:100;
  margin: auto;
  width: 50%;
}

#about .content .welcome {
  font-size: 2.2em;
  font-family: 'Raleway', sans-serif;
  font-weight:100;
  padding: 12px;
}

#about .content .text {
  top: 24px;
  position: relative;
}

/* Header for the main application */
#header {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  font-size: 9vw;
  position: relative;
  margin-bottom: 50px;
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 80px 12px;
  background-color: rgba(0, 0, 0, .1);
}

/* Title CSS */
.title,
.subtitle,
.details,
.imfeeling,
.emotion.dropdown {
  font-family: 'Rokkitt', serif;
  font-weight: 700;
  text-align: center;
  padding: 0px;
  margin-top: 30px;
}

.subtitle,
.details {
  margin-top: 0;
}

.sidebar {
  background-color: white;
  color: black;
  height: 600px !important;
}

#composer {
  z-index: 850;
}

#composer .title {
  font-size: 100pt;
  margin-top: 0;
}

#composer .subtitle {
  font-size: 16pt;
  margin-bottom: 14px;
}

/* new post box section CSS */
#post {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.emotion.selector {
  background-color: transparent;
  margin-top: 8px;
  padding: 12px;
}

.imfeeling,
.emotion.dropdown {
  margin-top: 0px;
  font-size: 30pt;
  color: white;
  display: inline-block;
}

.emotion.dropdown .dropdown.icon {
  margin: 0 !important;
  font-size: 15pt;
}

.emotion.menu {
  overflow: hidden;
}

.emotion.menu .item {
  color: white !important;
  text-align: center !important;
  text-transform: uppercase !important;
  font-family: 'Raleway', 'Helvetic Neue', 'Helvetica', sans-serif;
}

.emotion.editor {
  padding: 12px;
}

#post-warning {
  color: white;
  margin-bottom: 8px;
  font-size: 12pt;
  font-weight: 300;
}

/* Splash Screen CSS */
#splash {
  width: 100%;
  height: 100%;
  min-height: 700px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #333333;
}

#splash .center {
  width: 500px;
  margin: auto;
}

#splash .title {
  margin-bottom: -30px;
}

#splash .title,
#splash .subtitle,
#splash .details {
  font-size: 170pt;
  text-shadow: 1px 1px 3px #424040;
}

#splash .subtitle {
  font-size: 28pt;
}

#splash .details {
  font-size: 32pt;
}

/* Signup/Login form CSS */
.signup.form,
.login.form {
  margin: 12px auto;
  width: 300px;
}

.signup.form .field,
.login.form .field {
  margin: 0 !important;
}

.ui.form input.username,
.ui.form input[type=password],
textarea {
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

.ui.form input.username,
.ui.form input[type=password] {
  font-size: 12pt !important;
  text-align: center;
}

/* Learn-more button gets all of this! */
.learn-more a {
  text-decoration: none;
}

.learn-more.container {
  margin: 20px auto;
  width: 300px;
}

.learn-more .button {
  padding: 20px !important;
}

/* Info stuff */
#splash #info {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  color: #242424;
}

#info .title,
#info .subtitle,
#info .description {
  font-family: 'Raleway', 'Helvetic Neue', 'Helvetica', sans-serif;
  font-weight: 100;
  margin: 0;
  text-shadow: none;
}

#info .subtitle {
  font-weight: 300;
}

#info .segment {
  position: relative;
  padding: 48px 16px;
  text-align: center;
  font-size: 1.4vw;
  height: 70%;
  background-color: white;
}

#info .segment .header {
  margin-bottom: 12px;
}

#info .post.segment {
  color: white;
  background-color: #232323;
  height: 60%;
}

#info .post.segment .header {
  font-size: 5em;
}

#info .post.segment .subtitle {
  font-size: 1.2em;
}

#info .example.feels {
  margin-top: 60px;
  position: relative;
}

#info .post.segment .example.feels .item {
  display: inline-block;
  height: 6em;
  width: 6em;
  opacity: .9;
  margin: 8px;
}

.example.feels .item .text {
  position: absolute;
  width: 6em;
  text-align: center;
  bottom: -1em;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.example.feels .item:hover .text {
  opacity: 1;
}

#info .community.segment {
}

#info .community.segment .header {
  font-size: 4.4em;
}


#info .community.segment .subtitle {
  font-size: 1.4em;
}

#info .community.segment .macbooks {
  margin: 12px auto;
}

#info .personal.segment {
  background-color: #c6c6c6;
  overflow: hidden;
}

#info .personal.segment .header{
  font-size: 4em;
}

#info .personal.segment .subtitle{
  font-size: 1.6em;
}

#info .signup.segment {
  height: 35%;
  color: white;
  background-color: #646464;
}




/* center container with CSS */
#fit-width .masonry {
  margin: 0 auto;
}

#feed {
  margin-bottom: 20px;
}

/* Grid CSS */
#grid {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* Feel CSS*/
.feel {
  height: 50px;
  width: 50px;
  margin-bottom: 25px;
  background-color: #33b5e5;
  overflow: hidden;
  border-radius: 2px;
  position: relative;

  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out, background-color .3s ease-in-out;
  -moz-transition: opacity 1s ease-in-out, background-color .3s ease-in-out;
  -ms-transition: opacity 1s ease-in-out, background-color .3s ease-in-out;
  -o-transition: opacity 1s ease-in-out, background-color .3s ease-in-out;
  transition: opacity 1s ease-in-out, background-color .3s ease-in-out;

  word-wrap: break-word;
}

.opaque {
  opacity: 1;
}

.expandable.opaque {
  opacity: .9;
}

/* Big feels for those with text */
.feel.expandable {
  cursor: pointer;
}

.feel.expandable:hover {
  opacity: 1;
}

.feel.medium {
  min-width: 125px;
  min-height: 125px;
}

.feel.big {
  min-width: 200px;
  min-height: 200px;
}

.feel.huge {
  min-width: 275px;
  min-height: 275px;
}

.feel.humongo {
  min-width: 425px;
  min-height: 425px;
}

/* Maximum size feels */
.feel.expanded {
  width: auto !important;
  max-width: 500px !important;
  height: auto !important;
  overflow: hidden;
}

.feel.minimized {
  min-width: 50px;
  min-height: 50px;
  width: 50px !important;
  height: 50px !important;
}

.feel .text {
  padding: 12px;
  font-size: 18pt;
  font-family: 'Raleway', 'Helvetic Neue', 'Helvetica', 'Arial' sans-serif;
  font-weight: 100;
  text-align: left;
}

.feel .footer {
  z-index: 4;
  background-color: inherit;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  height: 25px;
  padding: 8px 12px;
  width: 100%;

  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.expandable.feel:hover .footer {
  opacity: .9;
}

.feel .footer .name {
  z-index: 3;
  color: black;
  font-size: 14pt;
}

.feel .footer .heart-count {
  position: absolute;
  color: black;
}

/* Footer CSS */
#footer {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
}

#footer .content {
  margin: 0 auto;
  color: white;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  width: 250px;
  /*  border: 1px solid #585858; */
}

/* Account page CSS */
#account .ui.grid {
  width: 100%;
  margin: 0;
}

#account .info {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 35%;
  background-color: #262626;
  border-right: 1px solid black;
  font-family: 'Rokkitt', sans-serif;
  font-size: 2vw;
  padding: 50px 20px;
  text-align: justify;
}

#account .greeting {
  font-size: 9vw;
  text-align: right;
  margin-bottom: 20px;
}

#account .swears{
  opacity: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

#account .swears:hover {
  opacity: 1;
}

.loading {
  padding: 24px;
  font-weight: 100;
  font-size: 1.5vw;
}

/*
  Emotion Colors
*/
.emotion.button,
.emotion.item,
.graph {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.emotion.button {
  margin-bottom: 8px !important;
  background-image: none !important;
}

.happy,
.ui.happy.button {
  background-color: #ffa71d;
  color: #FFF;
}

.ui.happy.button:hover,
.happy.item:hover,
.happy.item.active,
.happy.feel:hover {
  background-color: #ff9200 !important;
  color: #FFF !important;
}

.happy.text,
.positive.text {
  background-color: transparent;
  color: #ffa71d !important;
}

.happy.graph {
  fill: #ffa71d;
}

.happy.graph:hover {
  fill: #ff9200;
}

.sad,
.ui.sad.button {
  background-color: #3a90e5;
  color: #FFF;
}

.ui.sad.button:hover,
.sad.item:hover,
.sad.item.active,
.sad.feel:hover {
  background-color: #2285e5 !important;
  color: #FFF !important;
}

.sad.text,
.negative.text {
  background-color: transparent;
  color: #3a90e5 !important;
}

.sad.graph {
  fill: #3a90e5;

}

.sad.graph:hover {
  fill: #2285e5;
}

.meh,
.ui.meh.button {
  background-color: #808080;
  color: #FFF;
}

.ui.meh.button:hover,
.meh.item:hover,
.meh.item.active,
.meh.feel:hover {
  background-color: #696969 !important;
  color: #FFF !important;
}

.meh.text {
  background-color: transparent;
  color: #808080 !important;
}

.meh.graph {
  fill: #808080;

}

.meh.graph:hover {
  fill: #696969;
}

.angry,
.ui.angry.button {
  background-color: #e94e54;
  color: #FFF;
}

.ui.angry.button:hover,
.angry.item:hover,
.angry.item.active,
.angry.feel:hover {
  background-color: #e93a43 !important;
  color: #FFF !important;
}

.angry.text {
  background-color: transparent;
  color: #e94e54 !important;
}

.angry.graph {
  fill: #e94e54;
}

.angry.graph:hover {
  fill: #e93a43;
}

.excited,
.ui.excited.button {
  background-color: #fec81a;
  color: #FFF;
}

.ui.excited.button:hover,
.excited.item:hover,
.excited.item.active,
.excited.feel:hover {
  background-color: #feb403 !important;
  color: #FFF !important;
}

.excited.text {
  background-color: transparent;
  color: #fec81a !important;
}

.excited.graph {
  fill: #fec81a;
}

.excited.graph:hover {
  fill: #feb403;
}

.stressed,
.ui.stressed.button {
  background-color: #50c12f;
  color: #FFF;
}

.ui.stressed.button:hover,
.stressed.item:hover,
.stressed.item.active,
.stressed.feel:hover {
  background-color: #33c11a !important;
  color: #FFF !important;
}

.stressed.text {
  background-color: transparent;
  color: #50c12f !important;
}

.stressed.graph {
  fill: #50c12f;
}

.stressed.graph:hover {
  fill: #33c11a;
}


.proud,
.ui.proud.button {
  background-color: #ab62cc;
  color: #FFF;
}

.ui.proud.button:hover,
.proud.item:hover,
.proud.item.active,
.proud.feel:hover {
  background-color: #9b51cc !important;
  color: #FFF !important;
}

.proud.text {
  background-color: transparent;
  color: #ab62cc !important;
}

.proud.graph {
  fill: #ab62cc;
}

.proud.graph:hover {
  fill: #9b51cc;
}


.romantic,
.ui.romantic.button {
  background-color: #ff7ba9;
  color: #FFF;
}

.ui.romantic.button:hover,
.romantic.item:hover,
.romantic.item.active,
.romantic.feel:hover {
  background-color: #ff67ab !important;
  color: #FFF !important;
}

.romantic.text {
  background-color: transparent;
  color: #ff7ba9 !important;
}

.romantic.graph {
  fill: #ff7ba9;
}

.romantic.graph:hover {
  fill: #ff67ab;
}


/* Clear button */
.clear.button {
  background-color: rgba(255, 255, 255, .4) !important;
  color: white !important;
  font-size: 14pt !important;
}

.clear.button:hover {
  background-color: rgba(255, 255, 255, .6) !important;
}

/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}


